@import "./base.css";
@import 'bulma/css/bulma.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

header {
  padding-right: 0 !important;
}

a,
.green {
  text-decoration: none;
  color: #169994;
  transition: 0.4s;
}

a.router-link-active, a.router-link-exact-active a {
  font-weight: 800;
}

@media (hover: hover) {
  a:hover {
    color: #09605d;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 2rem 0 0;
  }
}
